{% extends 'base.html' %}
{% block title %}
   Login
{% endblock title %}
{% block content %}
	<div id="bodyform" align="center">
		<h2>Login</h2>
		<form method="POST" >  
				
					
			{{form.csrf_token}}
			<nav>
				{{form.email.label}}
				{{form.email(class_="imputlogin")}}
			</nav>
			<nav>
				{{form.senha.label}}
				{{form.senha(class_="imputlogin")}} 
			</nav>
			<div style="display: inline-block;">

				<a href="/cadastro" class="enter">Cadastre-se</a>
				<span >{{form.logar(class_="enter")}}</span>

			</div>
		</form>
		
	</div>

{% endblock content %}